
UINavigationBar
{
    backgroundImage: "ipad-menubar-left.png";
    
}

navigationItemTitleLabel
{
    backgroundColor: clearColor;
    font: Baskerville-BoldItalic 20;
    shadowColor: blackColor;
    textColor: whiteColor;
}

UITableView
{
    backgroundView: "leather-background.png";
}

SCPullToRefreshView
{
    backgroundColor: "leather-background.png";
}

SCTableViewSection
{
    firstCellThemeStyle: firstCell;
    oddCellsThemeStyle: oddCell;
    evenCellsThemeStyle: evenCell;
    lastCellThemeStyle: lastCell;
}

firstCell
{
    backgroundView: "ipad-menu-item.png";
    selectedBackgroundView: "ipad-menu-item-selected.png";
}

oddCell
{
    backgroundView: "ipad-menu-item.png";
    selectedBackgroundView: "ipad-menu-item-selected.png";
}

evenCell
{
    backgroundView: "ipad-menu-item.png";
    selectedBackgroundView: "ipad-menu-item-selected.png";
}

lastCell
{
    backgroundView: "ipad-menu-item.png";
    selectedBackgroundView: "ipad-menu-item-selected.png";
}